<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        
        <li class="nav-item " *ngIf="auth.isLoggedIn() && role === 'user'" >
          <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item " *ngIf="auth.isLoggedIn() && role === 'admin'" >
          <a class="nav-link" [routerLink]="['/dashboard']">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item " *ngIf="auth.isLoggedIn() " >
          <a class="nav-link" [routerLink]="['/profile']">Profile <span class="sr-only">(current)</span></a>
        </li>
          <li class="nav-item " *ngIf="!auth.isLoggedIn()" >
            <a class="nav-link" [routerLink]="['/signup']">Register <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item " *ngIf="!auth.isLoggedIn()">
            <a class="nav-link" [routerLink]="['/login']">Login <span class="sr-only">(current)</span></a>
          </li>
        
      </ul>
      
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item" *ngIf="auth.isLoggedIn()">
            <a (click)="logout()" class="nav-link">Logout</a> </li>
      </ul>
    </div>
  </nav>