
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center bg-primary text-white py-2">Login</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm"  >

                        <div class="form-group">
                            <label for="username"> Username</label>
                            <input type="text" formControlName="username" class="form-control" id="username" required>
                        </div>
                        <div *ngIf="loginForm.controls['username'].errors && (loginForm.controls['username'].touched || loginForm.controls['username'].dirty)  ">
                            <span *ngIf="loginForm.controls['username'].errors?.required"> Please Enter Username</span>
                        </div>
                        <div class="form-group">
                            <label for="password"> Password</label>
                            <input type="password" name="password" class="form-control" formControlName="password" id="password" required>
                        </div>
                        <div *ngIf="loginForm.controls['password'].errors && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)  ">
                            <span *ngIf="loginForm.controls['password'].errors?.required"> Please Enter Password</span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary"  (click)="loginUser(loginForm.value)">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>