<div class="container">
    
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center"> Sign Up</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" >
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="fullname">Full Name</label>
                                    <input type="text" [class.is-invalid]="signupForm.controls['fullname'].invalid && signupForm.controls['fullname'].touched" formControlName="fullname" class="form-control" name="fullname" id="fullname" required>
                                </div>
                                <div *ngIf="signupForm.controls['fullname'].errors && signupForm.controls['fullname'].touched ">
                                    <span *ngIf="signupForm.controls['fullname'].errors?.required" class="text-danger"> Fullname Not be Empty</span>
                                    
                                </div>
                                <div class="form-group">
                                    <label for="username">UserName</label>
                                    <input type="text" formControlName="username" class="form-control" name="username" id="username" required>
                                </div>
                                <div *ngIf="signupForm.controls['username'].errors && signupForm.controls['username'].touched ">
                                    <span *ngIf="signupForm.controls['username'].errors?.required" class="text-danger"> username Not be Empty</span>
                                    
                                </div>
                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    <input type="email" formControlName="email" class="form-control"  name="email" id="fullname" required>
                                    <div *ngIf="signupForm.controls['email'].errors && signupForm.controls['email'].touched ">
                                        <span *ngIf="signupForm.controls['email'].errors?.required"  class="text-danger"> Fullname Not be Empty</span>
                                        
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" minlength="4" formControlName="password" class="form-control" name="password" id="password" required>
                                </div>
                                <div *ngIf="signupForm.controls['password'].errors && signupForm.controls['password'].touched ">
                                    <span *ngIf="signupForm.controls['password'].errors?.required"  class="text-danger"> password Not be Empty</span>
                                    <span *ngIf="signupForm.controls['password'].errors?.minlength">Minlength is 4 digits</span>
                                    
                                </div>

                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="mobile">Mobile Number</label>
                                    <input type="tel" formControlName="mobile" class="form-control" minlength="10" name="mobile" id="mobile" required>
                                </div>
                                <div *ngIf="signupForm.controls['mobile'].errors && signupForm.controls['mobile'].touched ">
                                    <span *ngIf="signupForm.controls['mobile'].errors?.required" class="text-danger"> Mobile-Number Not be Empty</span>
                                    <span *ngIf="signupForm.controls['mobile'].errors?.minlength"> 10 Digits Only</span>
                                </div>
                                <div class="form-group">
                                    <label for="Address"> Address</label>
                                    <textarea name="address" formControlName="address" class="form-control" id="address" cols="3" rows="3" required></textarea>
                                </div>
                                <div *ngIf="signupForm.controls['address'].errors && signupForm.controls['address'].touched ">
                                    <span *ngIf="signupForm.controls['address'].errors?.required" class="text-danger"> Address Not be Empty</span>
                                    
                                </div>
                                <div class="form-group">
                                    <label>Role</label>
              <select id="role" formControlName="role" class="form-control" required>
                <option> Choose Role...</option>
                  
                  <option value="user">User</option>
                  <option value="admin">Admin</option>
              </select>
                                </div>
                                <div *ngIf="signupForm.controls['role'].errors && signupForm.controls['role'].touched ">
                                    <span *ngIf="signupForm.controls['role'].errors?.required" class="text-danger"> Please Select Role</span>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary btn-block"> Signup   </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<div class="row justify-content-center" *ngIf="false">
    <div class="col-md-6">
    <div class="card">
    <header class="card-header">
        <a href="" class="float-right btn btn-outline-primary mt-1">Log in</a>
        <h4 class="card-title mt-2">Sign up</h4>
    </header>
    <article class="card-body">
    <form>
        <div class="form-row">
            <div class="col form-group">
                <label>Full Name </label>   
                  <input type="text" class="form-control" placeholder="">
            </div> <!-- form-group end.// -->
            <div class="col form-group">
                <label>Username</label>
                  <input type="text" class="form-control" placeholder=" ">
            </div> <!-- form-group end.// -->
        </div> <!-- form-row end.// -->
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" placeholder="">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div> <!-- form-group end.// -->
        <div class="form-group">
                <label class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" value="option1">
              <span class="form-check-label"> Male </span>
            </label>
            <label class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" value="option2">
              <span class="form-check-label"> Female</span>
            </label>
        </div> <!-- form-group end.// -->
        <div class="form-row">
            <div class="form-group col-md-6">
              <label>City</label>
              <input type="text" class="form-control">
            </div> <!-- form-group end.// -->
            <div class="form-group col-md-6">
              <label>Role</label>
              <select id="inputState" class="form-control">
                <option> Choose...</option>
                  
                  <option value="user">User</option>
                  <option value="admin">Admin</option>
              </select>
            </div> <!-- form-group end.// -->
        </div> <!-- form-row.// -->
        <div class="form-group">
            <label>Create password</label>
            <input class="form-control" type="password">
        </div> <!-- form-group end.// -->  
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Register  </button>
        </div> <!-- form-group// -->      
        <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
    </form>
    </article> <!-- card-body end .// -->
    <div class="border-top card-body text-center">Have an account? <a href="">Log In</a></div>
    </div> <!-- card.// -->
    </div> <!-- col.//-->
    
    </div> <!-- row.//-->
    
    
</div>